[submodule "codegen/cpp"]
	path = codegen/cpp
	url = git@github.com:javacc/newjavacc-cpp.git
	branch = release
[submodule "codegen/java"]
	path = codegen/java
	url = git@github.com:javacc/newjavacc-java.git
	branch = release
[submodule "codegen/csharp"]
	path = codegen/csharp
	url = git@github.com:javacc/newjavacc-csharp.git
	branch = release
[submodule "codegen/js"]
	path = codegen/js
	url = git@github.com:javacc/newjavacc-js.git
	branch = release
	