[submodule "core"]
	path = core
	url = https://github.com/javacc/javacc-8-core.git
	branch = release
[submodule "cpp"]
	path = codegen/cpp
	url = https://github.com/javacc/javacc-8-cpp.git
	branch = release
[submodule "java"]
	path = codegen/java
	url = https://github.com/javacc/javacc-8-cpp.git
	branch = release
[submodule "csharp"]
	path = codegen/csharp
	url = https://github.com/javacc/javacc-8-cpp.git
	branch = release
[submodule "js"]
	path = codegen/js
	url = https://github.com/javacc/javacc-8-cpp.git
	branch = release
